.card {
  border: 0;
}

.card-content {
  background: #f0f0f0;
}

.card-subtitle {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
